<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>
        <property name="driver" value="org.apache.derby.jdbc.ClientDriver" />
        <property name="url" value="jdbc:derby://localhost:1527/scouterDB;create=true" />
        <property name="username" value="APP" />
        <property name="password" value="APP" />
    </properties>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${driver}" />
                <property name="url" value="${url}" />
                <property name="username" value="${username}" />
                <property name="password" value="${password}" />
                <property name="poolMaximumActiveConnections" value="200"/>
	            <property name="poolMaximumIdleConnections" value="100"/>
	            <property name="poolMaximumCheckoutTime" value="20000"/>
	            <property name="poolPingEnabled" value="true"/>
	            <property name="poolPingQuery" value="VALUES 1"/>
	            <property name="poolPingConnectionsNotUsedFor" value="10000"/>
	            <property name="poolTimeToWait" value="15000"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="scouter-mapper.xml" />
    </mappers>
</configuration>